<section class="center">
  <div class="tab-container">
    <tabs>
      <tab tabTitle="First tab">
        Here is the content of the first tab I have built.
      </tab>
        
      <tab tabTitle="Second tab">
        And here, we can see the content of the second tab I have created
      </tab>
    </tabs>
  </div>

  <div class="tab-container">
    <alt-tabs>
      <alt-tab tabTitle="Alternate First tab">
        Here is the alternative content of the first tab I have built.
      </alt-tab>
        
      <alt-tab tabTitle="Second tab">
        And here, we can see the content of the alternative second tab I have created
      </alt-tab>
    </alt-tabs>
  </div>

</section>