/* You can add global styles to this file, and also import other style files */

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.tab-header {
    display: flex;
    justify-content: center;
    border-bottom: 1px dotted black;
}

.tab-item {
    padding: 5px;
    width: 100%;
    text-align: center;
}

.tab-item:hover {
    cursor: pointer;
}

.tab-item:first-of-type {
    border-right: 1px dotted black;
}

.active {
    color: red;
}

.tab-content {
    padding: 10px;
}